<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CapturaDatosVideoClub</servlet-name>
        <servlet-class>Servlets.CapturaDatosVideoClub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlumnos</servlet-name>
        <servlet-class>Servlets.ServletAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recogeNick</servlet-name>
        <servlet-class>Servlets.recogeNick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recogeDatosChat</servlet-name>
        <servlet-class>Servlets.recogeDatosChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LLoguerBean</servlet-name>
        <servlet-class>Entitats.LLoguerBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumneBean</servlet-name>
        <servlet-class>Entitats.AlumneBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DadesPantallaBean</servlet-name>
        <servlet-class>Entitats.DadesPantallaBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaDadesPantallaBean</servlet-name>
        <servlet-class>Servlets.CapturaDadesPantallaBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturaDadesVideoClub</servlet-name>
        <servlet-class>Servlets.CapturaDadesVideoClub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlumnes</servlet-name>
        <servlet-class>Servlets.ServletAlumnes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplegaDadesXat</servlet-name>
        <servlet-class>Servlets.ReplegaDadesXat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplegaNick</servlet-name>
        <servlet-class>Servlets.ReplegaNick</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CapturaDatosVideoClub</servlet-name>
        <url-pattern>/CapturaDatosVideoClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlumnos</servlet-name>
        <url-pattern>/ServletAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recogeNick</servlet-name>
        <url-pattern>/recogeNick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recogeDatosChat</servlet-name>
        <url-pattern>/recogeDatosChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LLoguerBean</servlet-name>
        <url-pattern>/LLoguerBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumneBean</servlet-name>
        <url-pattern>/AlumneBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DadesPantallaBean</servlet-name>
        <url-pattern>/DadesPantallaBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaDadesPantallaBean</servlet-name>
        <url-pattern>/CapturaDadesPantallaBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturaDadesVideoClub</servlet-name>
        <url-pattern>/CapturaDadesVideoClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlumnes</servlet-name>
        <url-pattern>/ServletAlumnes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplegaDadesXat</servlet-name>
        <url-pattern>/ReplegaDadesXat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplegaNick</servlet-name>
        <url-pattern>/ReplegaNick</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
