/Sesion6_1/nbproject/private/
/Sesion6_1Jesus/nbproject/private/
/Sesion6_1/build/
/Sesion6_1Jesus/build/
/Sesion6_1Jesus/dist/
/Sesion6_1/dist/
/Sesion5_3/build/
/Sesion5_3/dist/
/Sesion6_ExamenFix/dist/
/Sesion6_2Jesus2/nbproject/private/
/Sesion6_2Jesus2/build/
/Sesion6_2Jesus2/dist/